<div id="<%= dom_id stock_control %>">
  <p>
    <strong>Impressora:</strong>
    <%= stock_control.impressora_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= stock_control.quantity %>
  </p>

  <p>
    <strong>Operation type:</strong>
    <%= stock_control.operation_type %>
  </p>

</div>
