:root {
  --primary-color: #0044cc;
  --primary-hover: #003399;
  --secondary-color: #008cba;
  --secondary-hover: #0077a3;
  --light-bg: #ffffff;
  --dark-bg: #000000;
  --light-text: #000000;
  --dark-text: #ffffff;
}

// Importar fontes do Google
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Variáveis de cores
$success-color: #28a745;
$danger-color: #dc3545;
$background-color: #f8f9fa;
$border-color: #dee2e6;

// Estilos gerais do corpo
body {
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--light-bg);
  color: var(--light-text);
}

body[data-theme="theme-light"] {
  background-color: var(--light-bg);
  color: var(--light-text);
}

body[data-theme="theme-dark"] {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

// Container
.container {
  max-width: 900px;
}

// Títulos
h1 {
  color: var(--primary-color);
}

// Mensagens de erro
.alert {
  margin-bottom: 1.5rem;
  border-radius: .25rem;
}

.alert-danger {
  background-color: $danger-color;
  color: #fff;
  border-color: $danger-color;
}

// Formulários
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  border: 1px solid $border-color;
  border-radius: .25rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 .2rem rgba(var(--primary-color), .25);
}

// Botão de submit
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: darken(var(--primary-color), 10%);
  border-color: darken(var(--primary-color), 10%);
}

// Estilos específicos
.foto-impressora, .toner-foto {
  margin-bottom: 1rem;
}

.label-foto, .label-toner {
  font-weight: bold;
}

// Responsividade
@media (max-width: 600px) {
  .container {
    padding: 0 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .form-control,
  .btn-primary {
    width: 100%;
  }
}
