:root {
  --primary-color: #0044cc;
  --primary-hover: #003399;
  --secondary-color: #008cba;
  --secondary-hover: #0077a3;
  --light-bg: #ffffff;
  --dark-bg: #000000;
  --light-text: #000000;
  --dark-text: #ffffff;
  --custom-bg: #00CDCD; /* Adicionando uma variável para o fundo */
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--custom-bg); /* Usando a variável para o fundo */
}

body[data-theme="theme-light"] {
  background-color: var(--light-bg);
  color: var(--light-text);
}

body[data-theme="theme-dark"] {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

// Estilos para o contêiner principal
.form-forgot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--custom-bg); /* Usando a variável para o fundo */
}

// Estilos para os campos e rótulos
.custom-form-floating {
  margin-bottom: 10px;
}

.custom-form-floating input {
  padding: 10px 60px;
  border-radius: 5px;
}

// Estilos para o botão de login
.actions input[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* Mantendo apenas uma borda */
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #eee; /* Se quiser manter a borda, mas sem duplicar border-radius */
}

.actions input[type="submit"]:hover {
  background-color: black;
}
